#restartBtn, #menuBtn {
    -fx-font-family: "Impact";
    -fx-background-radius: 20;
    -fx-background-color: #fea056;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.3) , 5,0,0,1 ); 
}

#restartBtn:hover, #menuBtn:hover {
    -fx-background-radius: 20;
    -fx-background-color:  #ef823e;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.3) , 15,0,0,1 ); 

}

#restartBtn:pressed, #menuBtn:pressed {
    -fx-background-radius: 20;
    -fx-background-color: #903b12;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.3) , 5,0,0,1 ); 
   -fx-text-fill: rgb(255, 218, 188);
}